.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.instructions h2 {
  text-align: center;
  text-decoration: none;
}
.instructions h1 {
  color: rgb(0, 81, 255);
}

p{
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
li {
  margin: 10px;
}
li::marker{
  color: rgb(0, 17, 255);
}

/*=============== MEDIA QUERIES FOR SMARTPHONES ============== */
@media screen and (max-width: 600px){
  .instructions {
    width: 93%;
    margin: 10px auto;
    padding: 10px;
    padding-top: 30px;
    border-radius: 18px;
  }

}
